.table
{
	width: 100%;
/*	min-width: 950px;*/
}
.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.cell
{
	width: 100%;
	height: 145px;
	border: 0px solid black;
}
.elem
{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.empty
{
	border: 0px;
	background-color: white;
}
.number
{
	text-align: left;
	font-size: 18px;
}
.symbol
{
	text-align: center;
	font-weight: bold;
	font-size: 32px;
}
.weight
{
	margin-top: 0;
	text-align: right;
	font-size: 18px;
}
.alkali_metal
{
	background-color: #FF6666;
}
.alkaline_earth_metal
{
	background-color: #FFDEAD;
}
.lanthanide
{
	background-color: #FEBFFF;
}
.actinide
{
	background-color: #FC97CA;
}
.transition_metal
{
	background-color: #FFBFC0;
}
.post_transition_metal
{
	background-color: #CCCCCC;
}
.metalloid
{
	background-color: #C0C08F;
}
.reactive_nonmetal
{
	background-color: #F0FF8F;
}
.noble_gas
{
	background-color: #C0FFFF;
}
.unknown_properties
{
	background-color: #f5f2f2;
}
.photo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 150px;
	width: 150px;
}
@media screen and (max-width: 1400px)
{
	.weight
	{
		font-size: 15px;
	}
	.symbol
	{
		font-size: 15px;
	}
	.number
	{
		font-size: 15px;
	}
	.cell
	{
		height: 80px;
	}
}
@media screen and (max-width: 800px)
{
	.weight
	{
		font-size: 11px;
	}
	.symbol
	{
		font-size: 11px;
	}
	.number
	{
		font-size: 11px;
	}
	.cell
	{
		height: 60px;
	}
}
@media screen and (max-width: 600px)
{
	.weight
	{
		font-size: 9px;
	}
	.symbol
	{
		font-size: 9px;
	}
	.number
	{
		font-size: 9px;
	}
	.cell
	{
		height: 50px;
	}
}
